<head>
    
    
</head>
<body>
    <form action="/register" method="GET">
<select name="user" >
    <option value="" selected  hidden>Choose here</option>
<option>ucenik</option>
<option>admin</option>
<option>profesor</option>
</select>
<input type="submit">
    </form>
</body>