<head>
    <title>
        Register Professor
    </title>
</head>
<body>
<form action="/registerProfesor" method="POST">
   ime: <input type="text" name="ime" required><br>
   prezime: <input type="text" name="prezime" required><br>
   email: <input type="email" name="email" required><br>
   password: <input type="password" name="password" required><br>
   confirm password: <input type="password" name="password2" required><br>
   broj telefona: <input type="tel" name="BrojTelefona" required><br>
   adresa: <input type="text" name="adresa" required><br>
   <select name="predmet" multiple required><br>
    <option value="" selected  hidden>Choose here</option>
<option>matematika</option>
<option>fizika</option>
<option>engleski</option>
   </select>
   <select name="razrednoOdjeljenje" required><br>
    <option selected >nema</option>
       <option>1t1</option>
       <option>1t2</option>
       <option>2t1</option>
       <option>2t2</option>
       <option>3t1</option>
       <option>3t2</option>
       <option>4t1</option>
       <option>4t2</option>
   </select>
   <select name="odjeljenjeKojimaPredaje" required multiple><br>
    
       <option>1t1</option>
       <option>1t2</option>
       <option>2t1</option>
       <option>2t2</option>
       <option>3t1</option>
       <option>3t2</option>
       <option>4t1</option>
       <option>4t2</option>
   </select>

<input type="submit">
</form>

</body>