<head>
    <title>
        Register Professor
    </title>
</head>
<body>
<form action="/registerProfesor" method="POST">
   ime: <input type="text" name="ime" required><br>
   prezime: <input type="text" name="prezime" required><br>
   email: <input type="email" name="email" required><br>
   broj telefona: <input type="text" name="BrojTelefona" required><br>
   adresa: <input type="text" name="adresa" required><br>
   <select name="predmet" multiple required><br>
   <option value="" selected  hidden>Choose here</option> 
    <%predmeti.forEach(p=>{%>
        <option value="<%= JSON.stringify(p) %>"><%=p.opis%></option>

   <% })%>
   

   </select>
   <select name="razrednoOdjeljenje" required><br>
    <option selected >nema</option>
     <%odjeljenja.forEach(o=>{%>
<option><%= o.odjeljenje %> </option>

     <%})%>
   </select>
   <select name="odjeljenjeKojimaPredaje" required multiple><br>
    
    <%odjeljenja.forEach(o=>{%>
        <option><%= o.odjeljenje %> </option>
        
             <%})%>
   </select>

<input type="submit">
</form>

</body>