<head>

</head>
<body>
<h1>register ucenik 
</h1>

<form action="/registerUcenik" method="POST">
    ime: <input type="text" name="ime" required><br>
    prezime: <input type="text" name="prezime" required><br>
    email: <input type="email" name="email" required><br>
  
    
    broj telefona: <input type="tel" name="BrojTelefona" required><br>
    adresa: <input type="text" name="adresa" required><br>
    
    <select name="odjeljenje" required><br>
        <option hidden selected>Izaberite odjeljenje</option>
        <%odjeljenja.forEach(s=>{%>
      
            <option><%=s.odjeljenje%></option>
    
    
          
       <% })%> 
    </select>
    <select name="smjer" required><br>
        <option hidden selected>Izaberite smjer</option>
        <%smjerovi.forEach(s=>{%>
      
            <option><%=s.ime%></option>
    
    
          
       <% })%> 
    </select>
 
 <input type="submit">
 </form>
</body>