<head>

</head>
<body>
<h1>register ucenik 
</h1>

<form action="/registerUcenik" method="POST">
    ime: <input type="text" name="ime" required><br>
    prezime: <input type="text" name="prezime" required><br>
    email: <input type="email" name="email" required><br>
    password: <input type="password" name="password" required><br>
    confirm password: <input type="password" name="password2" required><br>
    broj telefona: <input type="tel" name="BrojTelefona" required><br>
    adresa: <input type="text" name="adresa" required><br>
    
    <select name="odjeljenje" required><br>
        <option>t1</option>
        <option>t2</option>
        <option>t3</option>
        <option>t4</option>
        <option>t5</option>
        <option>t6</option>
        <option>t7</option>
        <option>t8</option>
    </select>
    <select name="razred" required><br>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>
 
 <input type="submit">
 </form>
</body>