<head>

</head>
<body>
<h1>register ucenik 
</h1>

<form action="/registerUcenik" method="POST">
    ime: <input type="text" name="ime" required><br>
    prezime: <input type="text" name="prezime" required><br>
    email: <input type="email" name="email" required><br>
  
    
    broj telefona: <input type="text" name="brojTelefona" required><br>
    adresa: <input type="text" name="adresa" required><br>
    ime 1 roditelja: <input type="text" name="imeroditelj1" required><br>
    broj telefona 1 roditelja: <input type="text" name="telefonroditelj1" required><br>
    ime 2 roditelja: <input type="text" name="imeroditelj2" required><br>
    broj telefona 2 roditelja: <input type="text" name="telefonroditelj2" required><br>
    jmbg: <input type="text" name="jmbg" required><br>

    <select name="odjeljenje" required><br>
        <option hidden selected>Izaberite odjeljenje</option>
        <%odjeljenja.forEach(s=>{%>
      
            <option value="<%=JSON.stringify(s)%>"><%=s.odjeljenje%></option>
    
    
          
       <% })%> 
    </select>
    
    
 <input type="submit">
 </form>
</body>