<h1>register admin</h1>
<head>
    <title>
        Register admin
    </title>
</head>
<body>
<script>
alert("you are adding an admin user to your database are you sure you want to continue")
</script>


<%if(typeof regErrors!='undefined'){ regErrors.forEach(function(err){%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%=err.msg%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<%})}  %>


<form action="/firstregisterAdmin" method="POST">
   ime: <input type="text" name="ime" required><br>
   prezime: <input type="text" name="prezime" required><br>
   email: <input type="email" name="email" required><br>
   password: <input type="password" name="password" required><br>
   confirm password: <input type="password" name="password2" required><br>
   broj telefona: <input type="tel" name="BrojTelefona" required><br>
   adresa: <input type="text" name="adresa" required><br>
   <input type="submit" value="submit">
</form>

</body>