<head>
    <title>
        admin home
    </title>
</head>
<body>
    <a href="/register">register user</a>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
      </form>
</body>