<html>
<head>
    <title>Add</title>
    
    
    </head>

<body>
    <form action="http://127.0.0.1:3000/dodajocjenu" method="post">
<select required value="opis ocjene" name="opis" >
        
        <option>test modula</option>
            <option>kontrolni rad</option>

    <option>pismena vjezba</option>
            <option>aktivnost</option>
            <option>test modula</option>
        <option>usmeni odgovor</option>

        
        
        </select><br>
    unesite ocjenu:<input type="text" required name="ocjena">
       
        <input type="submit">
    
    
    
    
    
    </form>
    
    
    
    
    
    
    </body>




</html>