<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <title>E-Dnevnik


    </title>
    <link rel="stylesheet" href="/style/login.css" >
  </head>
  <body>
  
<form class="box" id="pwchange" action="/firstlogin" method="post">
    <h2 style="color: white;">Password change</h2>
  
  <input type="password" name="newpassword1" id="newpassword1" placeholder="Enter new password">
  <input type="password" name="newpassword2" id="newpassword2" placeholder="Confirm password">
  <input type="button" name="" value="Ok" onclick="Validate()">
</form>

 <script>
      alert("Hello "+'<%=name%>'+'<%=surname%>'+" welcome to our web aplication you need to change password from default to enter website!")
      function Validate() {
        var password = document.getElementById("newpassword1").value;
        var confirmPassword = document.getElementById("newpassword2").value;
        console.log(password)
        console.log(confirmPassword)
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            
        }else{
                  document.getElementById("pwchange").submit(); 

        }
        
    }
  </script>
</html>
  </body>
 
