<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <title>E-Dnevnik


    </title>
    <link rel="stylesheet" href="/style/login.css" >
  </head>
  <body>
  
<form class="box" action="/firstlogin" method="post">
    <h2 style="color: white;">Password change</h2>
  
  <input type="password" name="newpassword1" placeholder="Enter new password">
  <input type="password" name="newpassword2" placeholder="Confirm password">
  <input type="submit" name="" value="Ok">
</form>

 <script>
      alert("Hello "+'<%=name%>'+'<%=surname%>'+" welcome to our web aplication you need to change password from default to enter website!")
  </script>
</html>
  </body>
 
