<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <title>E-Dnevnik


    </title>
    <link rel="stylesheet" href="/style/login.css" >
  </head>
  <body>
  
<form class="box" id="pwchange" action="/resetpassword" method="GET">
    <%= msg %> 
    <h2 style="color: white;">Enter e-mail</h2>
  
  <input type="text" name="email"  placeholder="Enter e-mail">
  
  <input type="submit" name="" value="Ok">
</form>

 
</html>
  </body>
 
