<html>


<head>
    <title>E-Dnevnik</title>
    <link rel="stylesheet" href="./style/frontpage.css">
    </head>
    <body>
    <div class="wrapper">
        <div class="headerblock">
        
            <a href="/"> <img src="media/logo3v2.png" class="logo"></a>
            <p class="slogan">Make The School Easier With Us</p>
      
   
        </div>
        <div class="loginblock">
      
        <a href="/login"><button class="loginbtn">Log In</button></a>
        
        </div>
        <div class="emailblock">
        
        <a href="/contactus"><img src="media/mail%20(1).png" class="contactimg"></a>
            <p class="contact"> Have any questions?Contact Us ets.tz@bih.net.ba</p>
        </div>
        <div class="studentblock">
        <a href="http://www.etstuzla.edu.ba/" target="_blank"><img src="media/student%20(2).png" class="studentimg"></a>
        <p class="student">
            Want to become a student?</p>
        </div>
        <div class="footerblock">
        
      <p class="copyright"> Copyright all rights reserved &copy;</p>
        
        </div>
    </div>
    
    
    
    
    </body>
</html>