<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <title>E-Dnevnik


    </title>
    <link rel="stylesheet" href="/style/login.css" >
  </head>
  <body>
  
<form class="box" action="/login" method="post">
  <% if(messages.error){%>
    <%=messages.error%>
  <%} %> 
  <h1>Login</h1>
  <input type="text" name="email" placeholder="E-mail">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="" value="Login">
    <a href="/getemail" style="text-decoration: none;color: white;">Forgot password</a>
</form>


  </body>
</html>
