<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <title>E-Dnevnik


    </title>
    <link rel="stylesheet" href="/style/login.css" >
  </head>
  <body>
  
<form class="box" id="pwchange" action="/validatecode" method="POST">
    <%= msg %> 
    <h2 style="color: white;">Enter 6-digit  code you recieved via e-mail u provided.</h2>
  
  <input type="text" name="code"  placeholder="Enter 6-digit code">
  
  <input type="submit" name="" value="Ok">
</form>

 
</html>
  </body>
 
