<html>
    <head>

    </head>
    <body>
        <form action="/smjerovi/dodaj" method="POST">
            smjer: <input type="text" name="ime" required><br>
            opis: <input type="text" name="opis" ><br>
            <input type="submit" value="submit">
         </form>
    </body>
</html>