body{
    
    
    background-color: #3978B8;
}
.navbar{
    
    height: 60px;
    background-color: #1F4287;
    
    
}
.avatar{
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
    
}
.settingsicon{
    float: right;
    height: 30px;
    width: 50px;
   margin-top: 15px;
    margin-left: 50px;
    display: none
}
.ime{
    position: relative;
    left: 60px;
    bottom: 50px;
    
}
.wrapper{
    max-width: 1000px;
    margin: auto;
}
.main{
    height: 100%;
    
    width: 100%;
  
    
}
.select{
    position: absolute;
    background-color: #1F4287;
    font-size: 30px;
    position: absolute;
    
    -webkit-appearance:none;
    padding: 10px;
    left: 40%;
    top: 40%;
    border: 0;
}
.settings{
   float:right;

margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
  

background-color:transparent;
    border: 0;
   background-image: url(../media/support.png);
   font-size: 0;
    padding: 0
    
    

}

.ime{
    width: 30%;
    text-decoration: none;
    color: white;
    text-decoration-line: none;
    
    
}
.n{
    float: right;
 
    width: 27px;
    height: 27px;
    margin-top: 15px;
    margin-right: 15px;
    border: 0;
    background-image: url(../media/notification.svg);
    background-color: transparent;
}
