<head>
    <title>
        admin home
    </title>
</head>
<body>
    <a href="/predmeti"><button value="predmeti">predmeti</button></a><br>

    <a href="/register">register user</a><br>
    <a href="/smjerovi"><button value="smjerovi">smjerovi</button></a>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
      </form>
</body>