razredni profesor

<a href="/raspored">raspored</a>
<a href="/predmetiOdjeljenja"><button>predmeti</button></a>
<a href="/register?user=ucenik">dodaj ucenika</a>
<a href="/addpage"><button>dodaj zapis o uceniku</button></a>
<form action="/logout?_method=DELETE" method="POST">
  
    <button type="submit">Log Out</button>
  </form>