<h1>Hi <%= name %></h1>
<a href="/ocjene">ocjene</a>
<br>
<a href="/raspored">raspored</a>
<a href="/ucenici">ucenici</a>




</form>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>