<html>
    <head>

    </head>
    <body>
        <form action="/odjeljenja/dodaj" method="POST">
            odjeljenje: <input type="text" name="odjeljenje" required><br>
            <select name="smjer" required>
                <option selected hidden>choose smjer</option>
                <%smjerovi.forEach(s=>{%>
      
                    <option><%=s.ime%></option>
            
            
                  
               <% })%>
                <select></select>

            </select>
          
            <input type="submit" value="submit">
         </form>
    </body>
</html>