

    <html>
        <head>
            <title>Predmet</title>
            <link rel="stylesheet" href="../style/style.css">
        </head>
        
                <body id="body">
                    <div class="wrapper" id="wrapper">
                        <div class="navbar">
                            <img src="../media/user.svg" alt="avatar" class="avatar">
                            <img>
                            <img src="media/support.svg" class="settingsicon" alt="settings" >
                           <button id="settingsbtn" class="settings" onclick="showsettings()">
                                
                                </button>
                            
                           
                            
                            
                                <a href="/home"><p class="ime">Admin </p></a>
                           
                        </div>
                        <div id="settings">
                            <ul>
                            
                                <li><a href="">
                                    <img src="../media/grid.svg" alt="home" class="homedropico">Home
                                    
                                    </a>
                                </li>
                                <hr>
                                <li>
                                    <a href="/settings">
                                    <img src="../media/settingsicoblack.svg" alt="settings" class="settingsdropico" >Settings
                                    </a>
                                
                                
                                </li>
                                <hr>
                                <li>
                                    
                                    <form action="/logout?_method=DELETE" method="POST">
                                        <button type="submit" class="logout">
                                            <img src="../media/logout.svg" alt="logout" class="logouticon"> Log out
                                        </button>
                                    </form>
                                    
                                
                                
                                
                                </li>
                                <hr>
                            </ul>
                            
                            </div>
                        <div class="main" id="main">
                     <form action="/testovi" method="POST" >
                    <select name="test" id="test-select">
                        <option hidden selected>Izaberite vrstu ocijene</option>
                    <option>Test modula</option>
                    <option>Pismena provjera</option>
                    <option>Esej</option>
                    <option>Usmena provjera</option>
                    <option>Aktivnost</option>
                    <option>Vjezba</option>
                    </select>
                    <select name="predmet" id="test-select">
                        <option hidden selected>Izaberite predmet</option>
                   <%predmeti.forEach(p => {%>
                     <option><%= p.ime %> </option>  
                   <%}) %> 
                    </select>
                    <input name="odjeljenje" value="<%= odjeljenje %>" hidden type="text">
                    <input type="submit" value="submit">
                    </form>
                        
                        </div>
                    </div>
                    <script>
                    function showsettings(){
                   
                    var settings = document.getElementById("settings");
                var body=document.getElementById("body");
                    var settingsbtn=document.getElementById("settingsbtn");
                        var main=document.getElementById("main");
                  if(settings.style.display=="block"){
                      
                          settings.style.display = "none";
                
                  }else{
                      
                          settings.style.display="block";
                
                  }
                
                    window.onclick = function(event) {
                    if (event.target == settings ||event.target == body  ||event.target == main ) {
                    settings.style.display = "none";
                    
                    
                        }
                    }
                }
                    
                    
                    </script>
                </body>
                    
                
                </html>
        
        
























   