<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <img src="media/user.svg" alt="avatar" class="avatar">
            <img>
            <img src="media/support.svg" class="settingsicon" alt="settings">
            <a href="/settings"> <button class="settings">
                
                </button></a>
            <button class="n">
            </button>
            
          <a href="/home"><p class="ime"><%= ime %> <%= prezime %>  </p></a>
            <ul>
            
            <li>Settings  </li>
                <li>Account  </li>
                
            </ul>
        </div>
        <div class="main">
        
        <form action="/ocjene/ucenici">
            
            <select class="select" name="odjeljenje" onchange="this.form.submit()">
                <option selected hidden>Izaberite odjeljenje</option>
                <% ucenici.forEach(o=>{%>

                    <option><%= o.ime %> <%= o.prezime %> </option>


                <%}) %> 

            
            </select>    
            
        </form>
        </div>
    </div>
    
</body>

</html>