<html>
<head>
    <title>page2</title>
</head>
<body>
<form action="/addpage/user/page">
     <select name="ucenik">
        
    <%smjerovi.forEach(s=>{%>
      
        <option value="<%=s._id%>" ><%=s.ime%> <%= s.prezime %>  </option>


      
   <% })%> </select>
   <input type="submit" value="submit">
   
</form>

    
</body>

</html>