<html>
<head>
    <title>page</title>
</head>
<body>
<form action="/addpage/predmeti">
     <select name="odjeljenje">
         <option value="" selected hidden>choose</option>
    <%odjeljenja.forEach(o=>{%>
      
        <option value="<%=JSON.stringify(o)%>"><%=o.odjeljenje%></option>


      
   <% })%> </select>
   <input type="submit" value="submit">
   
</form>

    
</body>

</html>